
@font-face{font-family:"SF Pro Display";src:url("../font/SF-Pro-Display-Regular.otf") format("opentype");font-weight:400;font-style:normal;}
@font-face{font-family:"SF Pro Display";src:url("../font/SF-Pro-Display-RegularItalic.otf") format("opentype");font-weight:400;font-style:italic;}
@font-face{font-family:"SF Pro Display";src:url("../font/SF-Pro-Display-Medium.otf") format("opentype");font-weight:500;font-style:normal;}
@font-face{font-family:"SF Pro Display";src:url("../font/SF-Pro-Display-Bold.otf") format("opentype");font-weight:700;font-style:normal;}
@font-face{font-family:"Helvetica Neue";src:url("../font/HelveticaNeue-Roman.otf") format("opentype");font-weight:400;font-style:normal;}
@font-face{font-family:"Helvetica Neue";src:url("../font/HelveticaNeue-Medium.otf") format("opentype");font-weight:500;font-style:normal;}
@font-face{font-family:"Open Sans";src:url("../font/OpenSans-Regular.ttf") format("truetype");font-weight:400;font-style:normal;}
@font-face{font-family:"Open Sans";src:url("../font/OpenSans-SemiBold.ttf") format("truetype");font-weight:600;font-style:normal;}
@font-face{font-family:"Open Sans";src:url("../font/OpenSans-Bold.ttf") format("truetype");font-weight:700;font-style:normal;}
@font-face{font-family:"Nunito Sans";src:url("../font/NunitoSans-SemiBold.ttf") format("truetype");font-weight:600;font-style:normal;}
@font-face{font-family:"Inter";src:url("../font/Inter_28pt-Regular.ttf") format("truetype");font-weight:400;font-style:normal;}
@font-face{font-family:"Inter";src:url("../font/Inter_28pt-Medium.ttf") format("truetype");font-weight:500;font-style:normal;}
@font-face{font-family:"Inter";src:url("../font/Inter_28pt-Bold.ttf") format("truetype");font-weight:700;font-style:normal;}

:root{--font-family:"SF Pro Display",sans-serif;--second-family:"Helvetica Neue",sans-serif;--third-family:"Open Sans",sans-serif;--font3:"Nunito Sans",sans-serif;--font4:"Inter",sans-serif;--base-white:#fff;--base-dark:#011b33;--base-light-grey:#f7f7f7;--base-dark-grey:#a8a8a8;--base-divider:#e5e5e5;--accent-red:#ec1026;--accent-blue:#00b6ba;--icon-dark:#34495c;--icon-dark-grey:#c3c3c3;--color-neutral-800:#1a1a1a;}




a{transition:all .4s ease;text-decoration:none;color:inherit;}
a:hover{color:inherit}
svg,svg *{transition: all .4s;}
ol,ul,p{padding: 0;margin: 0;}
li{list-style:none;}
img{max-width:100%;}
input,button{transition:all .4s ease;border:0;outline:none;box-shadow:unset;}
button:hover{background: #e2192d;}
button:focus{border: 2px solid #45fc62;background: #c71426;}
button:active{background: #bb1626;}
body{display: flex;flex-direction: column;background: #fcfaf6;min-height: 100vh;}
body::-webkit-scrollbar-track,::-webkit-scrollbar-track{background-color:transparent;border-radius:50px;}
body::-webkit-scrollbar,::-webkit-scrollbar{width:3px;border-radius:6px;height: 3px;}
body::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb{background-color:#fcfaf6;border-radius:50px;}
path{transition:all .4s ease;}



.head-icon-item svg{width: 20px;margin-right: 8px;}
.head-icon-item{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);display: flex;align-items: center;}
.head-icon-item:hover{color: var(--icon-dark);}
.head-icon-block{display: flex;align-items: center;gap:20px}
.head-info-txt{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);}
.head-nav-items{display: flex;align-items: center;gap:20px;}
.head-nav-items a{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);}
.head-nav-items a:hover{color: var(--icon-dark);}
.header-first-content{display: flex;align-items: center;justify-content:space-between;margin-bottom: 25px;}
.logo-img{width: 155px;height: auto;display: flex;}
.logo-img img{width: 100%;}



.catalog-dropdown-body{left: 0;right: 0;border: 1px solid var(--main-mercury);border-width: 0 0 1px;overflow:hidden;background: var(--main-white);}
.catalog-dropdown-body::after{border: 1px solid var(--main-mercury);border-width: 0 1px 0 0;content: '';}
.catalog-dropdown-content, .catalog-dropdown-body{position: fixed;top: 170px;min-height: 730px;max-height: 730px;overflow-y: auto;transition: all .4s;}
.catalog-dropdown-body{overflow:hidden;opacity: 0;visibility: hidden;}
.catalog-dropdown-body .container{position: relative;}
.catalog-dropdown-content{left: 310px;outline: none;padding: 0;max-width: calc(1620px - 325px);width: 100%;position: absolute;top: 0;z-index: -1;opacity: 0;visibility: hidden;display: grid;grid-template-columns: calc(45% - 10px) calc(55% - 10px);justify-content: space-between;}
.catalog-dropdown-content::-webkit-scrollbar{display: none;}
.collection-dropdown{height: 424px;width: 100%;padding: 24px;display: flex;flex-direction: column;position: relative;z-index: 1;overflow: hidden;}

.catalog-list{border-radius: 12px;padding: 10px 21px;width: auto;background: rgb(255 0 26);display: flex;align-items: center;gap: 12px;font-family: var(--font-family);font-weight: 700;font-size: 16px;color: var(--base-white);cursor: pointer;}
.catalog-list:hover{background: #e2192d;}
.catalog-list:focus{border: 2px solid #45fc62;background: #c71426;}
.catalog-list:active{background: #bb1626;}
.cat-icon{width: 20px;height: 20px;transition: all .4s;background-image: url(../img/cat.png);background-position: center center;background-size: cover;background-repeat: no-repeat;}
.catalog-list.active .cat-icon{background-image: url(../img/cat2.png);}
.header-second-content{display: flex;align-items: center;gap:20px;}
.header-main-content{background: var(--base-white);border-radius: 0 0 20px 20px;padding: 24px 32px;}
.catalog-dropdown-ttl{border-radius: 8px;padding: 8px;display: flex;align-items: center;font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);gap:8px}
.catalog-dropdown-main:hover .catalog-dropdown-ttl{background: var(--icon-dark);color: var(--base-white);}
.catalog-dropdown-main:hover .catalog-dropdown-ttl svg{filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(4%) hue-rotate(326deg) brightness(100%) contrast(104%);}
.catalog-dropdown-ttl svg{width: 20px;height: 20px;min-width: 20px;}
.catalog-dropdown-main{padding:6px 20px;background: var(--base-white);width: 275px;min-width: 275px;}
.catalog-dropdown-main:first-child{padding-top: 20px;border-top-left-radius: 20px;border-top-right-radius: 20px;}
.catalog-dropdown-main:last-child{padding-bottom: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.sub_catalog-main-name{font-family: var(--font-family);font-weight: 700;font-size: 18px;line-height: 130%;color: var(--base-dark);margin-bottom: 16px;display: block;}
.sub_catalog-main-name:hover{opacity: .7;}
.sub_catalog-nav-item a{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);display: block;}
.sub_catalog-nav-item a:hover{color: var(--accent-red);}
.sub_catalog-nav-item{display: flex;flex-direction: column;gap:12px;}
.catalog-dropdown-content_main{display: grid;grid-template-columns: 1fr 1fr;background: var(--base-white);border-radius: 20px;padding: 20px;gap: 20px;}
.sub-cat-column{display: flex;flex-direction: column;gap:20px}
.sub-cat-item-item-txt{font-family: var(--font-family);font-weight: 700;font-size: 22px;line-height: 130%;color: var(--base-dark);}
.sub-cat-img{max-height: 100%;margin: auto;display: flex;height: auto;}
.btn-open-sub-cat{background: var(--accent-red);border-radius: 8px;width: 37px;height: 39px;display: flex;align-items: center;justify-content: center;margin: auto 0 0 auto;}
.sub-cat-item-item{background: var(--base-white);border-radius: 20px;padding: 24px;display: flex;flex-direction: column;justify-content: space-between;}
.sub-cat-right-flex{display: flex;flex-flow: column wrap;gap:12px;}
.red-color-txt{color: var(--accent-red);}

.filter-head{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);position: relative;background: var(--base-light-grey);border-radius: 10px;padding: 11px 33px 9px 9px;}
.filter-head::after{position: absolute;content:'';background-image: url(../img/ar.svg);background-position: center center;background-size: cover;background-repeat: no-repeat;top: 0;bottom: 0;right: 12px;margin: auto;width: 20px;height: 20px;}
.input-search{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-dark);padding: 10px 15px;width: 100%;border-radius: 12px;}
.input-search::placeholder{color: #99a3ae;}
.search-input-block{background: var(--base-white);border-radius: 12px;padding: 2px;width: 100%;display: flex;}
.form-search-main{background: rgb(255 0 26);border-radius: 12px;padding: 2px;display: flex;width: 59.8%;}
.search-btn{font-family: var(--font-family);font-weight: 700;font-size: 16px;text-align: center;color: var(--base-white);padding: 6px 26px;background: transparent;}
.fav-lc-basket svg{width: 20px;height: 20px;}
.fav-lc-basket{position: relative;display: flex;flex-direction: column;align-items: center;}
.count-basket-add{bottom: unset;position: absolute;background: #f1107e;border-radius: 29px;aspect-ratio: 10/10;top: -7px;right: 7px;padding: 2px;display: flex;align-items: center;justify-content: center;min-width: 16px;font-family: var(--font-family);font-weight: 400;font-size: 12px;line-height: 100%;text-align: center;color: var(--base-white);}
.txt-head-info{font-family: var(--font-family);font-weight: 400;font-size: 12px;line-height: 130%;color: var(--base-dark);margin-top: 4px;}
.fav-lc-basket-flex{display: flex;align-items: center;justify-content: space-between;margin-left: auto;gap:38px}


.swiper-item-block{background: var(--base-white);border-radius: 20px;padding: 18px;aspect-ratio: 136/89;height: auto;display: flex;align-items: center;justify-content: center;margin-bottom: 4px;transition: all .4s;}
.swiper-item-block img{width: 53px;aspect-ratio: 10/ 10;height: auto;}
.name-swip-banner{font-family: var(--font-family);font-weight: 500;font-size: 14px;line-height: 130%;text-align: center;color: var(--base-dark);}
.section-first{padding: 20px 0;}
.swiper-banner{margin-bottom: 20px;}
.swiper-banner .swiper-slide:hover .swiper-item-block{box-shadow: 0 4px 28px 0 rgba(1, 27, 51, 0.08);background: var(--base-white);}

.catalog-banner-slider{background: var(--accent-blue);border-radius: 20px;padding: 28px 28px 26px;position: relative;display: flex;flex-direction: row-reverse;gap:20px;height: 517px;}
.catalog-flex-section{display: grid;grid-template-columns: calc(50% - 8px) calc(50% - 8px);gap:16px}
.swip-right-image{width: 45%;}
.swip-right-image .swiper-slide img{height: 100%;object-fit: contain;margin: auto;display: flex;transform: scale(1);}
.swip-right-image .swiper-pagination{bottom: unset;top: 0;right: 0;left: unset;text-align: end;display: flex;justify-content: end;gap:14px;}
.swip-right-image .swiper-pagination span{background: var(--base-light-grey);border-radius: 40px;width: 27px;height: 3px;opacity: 0.4;margin: 0;}
.swip-right-image .swiper-pagination span.swiper-pagination-bullet-active{background: var(--base-light-grey);opacity: 1;}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0;}
.swip-left-content{width: 55%;margin: 0;}
.cat-name-slider{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: var(--base-white);border: 1.33px solid var(--base-white);border-radius: 8px;padding: 8px;width: max-content;display: flex;margin-bottom: 20px;}
.ttl-swip-banner{font-family: var(--font-family);font-weight: 700;font-size: 36px;line-height: 130%;color: var(--base-white);}
.btn-info-bnr-cat{font-family: var(--font-family);font-weight: 700;font-size: 18px;color: var(--base-white);border: 1px solid var(--base-white);border-radius: 12px;padding: 12px 15px 10px;min-width: 180px;display: flex;align-items: center;justify-content: center;}
.btn-info-bnr-cat:hover{background: rgba(0, 0, 0, 0.1);color: var(--base-white);}
.btn-bnr-flex{display: flex;gap:8px;margin-top: auto;}
.banner-cat-content{display: flex;flex-direction: column;height: 100%;}
.swip-left-content .swiper-slide{opacity: 0;visibility: hidden;}
.swip-left-content .swiper-slide.swiper-slide-active{opacity: 1;visibility: visible;}
.swip-arrow-image{width: 31px;height: 31px;border: 0.81px solid var(--base-white);border-radius: 3px;position: absolute;top: unset;right: 7px;bottom: 10px;background-image: url(../img/arrow-right.svg);background-position: center center;background-size: 60%;background-repeat: no-repeat;}
.swip-arrow-image.swiper-button-next:after,.swip-arrow-image.swiper-button-prev:after{display: none;}
.swip-arrow-image.swiper-button-prev{transform: rotate(180deg);right: 46px;left: unset;}

.bnr-top-item{background: var(--base-white);border-radius: 20px;height: 315px;width: 100%;display: flex;align-items: center;justify-content: center;padding: 20px;}
.bnr-top-item img{height: 135px;width: auto;}
.swiper-bottom-content{display: flex;margin-top: 16px;gap:16px;}
.swiper-banner-bottom{width: calc(25% - 4px);}
.swiper-banner-bottom .bnr-top-item{height: 186px;}
.swiper-banner-bottom .bnr-top-item img{height: auto;min-width: 95px;transform: scale(.8);}

.cat-list-name{font-family: var(--font-family);font-weight: 700;font-size: 1.2em;line-height: 130%;color: var(--base-dark);display: block;margin-bottom: 16px;}
.cat-list-name:hover{color: var(--icon-dark);}
.cat-list-item{width: 200px;}
.cat-list-ul{display: flex;flex-direction: column;gap:8px}
.cat-list-ul a{font-family: var(--font-family);font-weight: 500;font-size: 18px;line-height: 130%;color: var(--base-dark-grey);}
.cat-list-ul a:hover{color: var(--base-dark);}
.cat-list-svg{width: 49px;height: 49px;margin-bottom: 16px;}
.cat-list-content{gap: 49px 55px;background: var(--base-white);border-radius: 20px;padding: 32px 42px;margin-top: 20px;display: flex;flex-wrap: wrap;justify-content: center;margin-inline:auto;}
.section-hits{padding: 10px 0;}
.hits-content{background: var(--base-white);border-radius: 20px;padding: 32px;}
.ttl-hits{font-family: var(--font-family);font-weight: 500;font-size: 44px;line-height: 123%;letter-spacing: -0.04em;text-transform: lowercase;color: var(--accent-blue);margin-bottom: 32px;}
.hits-tabs-block{border: 2px solid var(--base-divider);border-radius: 12px;padding: 0px 24px;display: flex;align-items: center;justify-content: space-between;margin-bottom: 24px;}
.tabs-hits-flex{display: flex;gap:24px;border: 0;}
.tabs-hits-flex .nav-link{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 100%;letter-spacing: 0.02em;text-transform: uppercase;color: var(--base-dark-grey);padding: 26px 0;position: relative;margin: 0;border: 0;}
.tabs-hits-flex .nav-link:hover{color: var(--base-dark);}
.tabs-hits-flex .nav-link::after{content: '';position: absolute;bottom: 0;right: 0;left: 0;border-radius: 41px;height: 3px;background: var(--accent-red);opacity: 0;transition: all .4s;}
.tabs-hits-flex .nav-link.active::after{opacity: 1;}
.tabs-hits-flex .nav-link.active{color: var(--accent-red);border: 0;background: transparent;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border: unset;}
.tabs-hits-flex .nav-item{border: unset;outline: none;}
.tab-all-product{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 100%;letter-spacing: 0.02em;text-transform: uppercase;color: var(--accent-red);border: 1px solid var(--accent-red);border-radius: 12px;padding: 12px 16px;}
.tab-all-product:hover{background: #f9e7e9;color: var(--accent-red);}
.banner-img{border-radius: 32px;aspect-ratio: 1556/300;object-fit: cover;}
.swiper-banner-ad{margin-bottom: 25px;}
.swiper-banner-ad .swiper-pagination{gap: 12px;display: flex;justify-content: center;bottom: 18px;}
.swiper-banner-ad .swiper-pagination span{opacity: 1;background: var(--icon-dark-grey);}
.swiper-banner-ad .swiper-pagination span.swiper-pagination-bullet-active{background: #fff;}
.swiper-tab-prod{background: var(--base-white);border: 1px solid var(--base-divider);border-radius: 20px;padding: 4px;}
.swiper-tab-prod .swiper-slide{height:auto;aspect-ratio: 295/293;display: flex;align-items: center;justify-content: center;}
.swiper-tab-prod .swiper-slide img{width: 100%;height: auto;object-fit: cover;margin: auto;}
.swiper-tab-prod .swiper-pagination .swiper-pagination-bullet{width: 15px;height: 4px;border-radius: unset;background: var(--base-dark-grey);opacity: 1;border-radius: 4px;}
.swiper-tab-prod .swiper-pagination .swiper-pagination-bullet-active{background: var(--accent-red);}
.swiper-tab-prod .swiper-pagination{display: flex;align-items: center;gap:4px;justify-content: center;opacity: 0;transition: all .4s;}
.swiper-tab-prod:hover .swiper-pagination{opacity: 1;}
.tabs-product-swip .nav-link{width: 26px;height: 26px;margin: 0;border: 0;padding: 0;}
.tabs-product-swip .nav-link img{width: 100%;height: auto;}
.tabs-product-swip{margin-top: 16px;border: 0;position: absolute;bottom: 145px;left: 12px;z-index: 9;}
.name-prod-swip{font-family: var(--font-family);font-weight: 500;font-size: 16px;line-height: 130%;color: #222220;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
.name-prod-swip:hover{color:var(--accent-red)}
.price-prod-swip{font-family: var(--font-family);font-weight: 700;font-size: 18px;line-height: 130%;text-align: center;color: var(--base-dark);background: var(--base-light-grey);border-radius: 97px;padding: 10px 18px;}
.adres-prod-swip{font-family: var(--font-family);font-weight: 500;font-size: 14px;line-height: 130%;color: var(--base-dark-grey);display: flex;align-items: center;}
.foot-prod-swip{display: flex;align-items: center;justify-content: space-between;margin-top: 16px;}
.new-status-prod{color: var(--accent-red);background: var(--base-white);border: 1px solid var(--accent-red);border-radius: 6px;padding: 4px 6px 2px;}
.status-prod-swip{font-family: var(--font-family);font-weight: 700;font-size: 12px;line-height: 130%;letter-spacing: -0.01em;text-transform: uppercase;display: flex;gap:8px;position: absolute;z-index: 8;top: 12px;left: 12px;}
.hit-status-prod{color: var(--base-dark);border: 1px solid var(--base-divider);padding: 4px 6px 2px;border-radius: 6px;}

.ttl-banner-back{font-family: var(--font-family);font-weight: 500;font-size: 55px;line-height: 96%;letter-spacing: -0.04em;text-transform: lowercase;text-align: center;color: var(--base-white);margin-bottom: 24px;}
.banner-block-content{background: linear-gradient(180deg, #734afe 0%, #f88dff 100%);border-radius: 20px;padding: 32px;}
.banner-section{padding: 10px 0 40px;}
.product-half-block{padding: 85px 12px 12px;background: #fff;border-bottom-right-radius: 20px;margin-top: -25px;border-bottom-left-radius: 20px;height: 215px;display: flex;flex-direction: column;justify-content: space-between;}
.banner-section .swiper-tab-prod{border: 0;}







@media (min-width:992px) {
	.header-second-row.active .catalog-dropdown-body{z-index: 10;visibility: visible;opacity: 1;}
	.catalog-dropdown:hover+.header-second-nav{opacity: 0;visibility: hidden;}
	.catalog-dropdown-main:hover .catalog-dropdown-content{opacity: 1;visibility: visible;z-index: 1;}
	.catalog-child-close{display: none;}
	.catalog-dropdown-ttl:hover{background: var(--icon-dark);color: var(--base-white);}
}
@media (min-width: 575px){
    .container{max-width: 1245px;padding: 0 20px;}
}
@media (min-width: 300px){
    .container{max-width: 1245px;}
}
@media (min-width: 1200px){
    .container{max-width: 1645px;}
}
@media (max-width:1540px) {
    .swip-right-image{width: 40%;}
}
@media (max-width:1500px) {
    .btn-info-bnr-cat{padding: 10px 18px 11px;min-width: auto;}
}

@media (max-width:1430px) {
    .price-prod-swip{padding: 8px 14px;}
}
@media (max-width:1350px) {
    .tabs-hits-flex{flex-wrap: unset;overflow-x: scroll;width: 80%;}
    .tabs-hits-flex .nav-item{min-width: max-content;}

}
@media (max-width:1200px) {
    .price-prod-swip{font-size: 16px;padding: 8px 14px;}
    .swiper-banner-bottom .bnr-top-item img{height: 100%;min-width: auto;}
    .swiper-banner-bottom .bnr-top-item{height: auto;aspect-ratio: 188/186;}
    .catalog-banner-slider{height: 465px;}
    .ttl-swip-banner{font-size: 36px;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;}
    .cat-list-content{gap: 39px 45px;padding: 22px 32px;}
    .fav-lc-basket-flex{gap: 20px;}
    .swiper-item-block img{width: 63px;}

}

@media (max-width:1120px) {
    .btn-bnr-flex{flex-direction: column-reverse;}
}

@media (max-width:1100px) {
    .adres-prod-swip{font-size: 12px;} 
    .tabs-product-swip{margin: 0;bottom: 125px;}
    .banner-block-content,.hits-content{padding: 32px 20px;}
    .product-half-block{padding: 80px 12px 12px;height: 195px;}

}

@media (max-width:991px) {
    .header-second-content,.head-icon-block{gap: 15px}
    .head-icon-item svg{width:15px;margin-right: 5px;}
    .head-info-txt,.head-icon-item,.head-nav-items a{font-size: 14px;}
    .catalog-list{padding: 11px 20px;width: auto;gap: 8px;font-size: 16px;}
    .logo-img{width: 120px;min-width: 120px;}
    .cat-list-content{gap: 39px 30px;grid-template-columns: repeat(4, 1fr);}
    .tab-all-product{font-size: 14px;padding: 12px 14px;}
    .hits-tabs-block{padding: 0px 18px;}
    .tabs-hits-flex .nav-link{padding: 22px 0;}
    .catalog-flex-section{grid-template-columns: 100%;}
    .btn-bnr-flex{flex-direction: row;}
    .tabs-hits-flex{width: 70%;gap:18px;}
    .header-first-content{flex-wrap: wrap;}
    .head-info-txt{font-size: 18px;order: 3;margin: 24px auto 0;}
    .header-second-content{flex-wrap: wrap;}
    .form-search-main{width: 100%;order: 4;}
    .cat-list-ul{display: none;}
    .cat-list-item{width: max-content;display: flex;align-items: center;gap: 11px;}
    .cat-list-name{margin: 0;}
    .cat-list-svg{margin: 0;}


}

@media (max-width:767px) {
    .cat-list-content{gap: 30px 20px;grid-template-columns: repeat(2, 1fr);}
    .hits-tabs-block{padding: 20px 18px;align-items: start;}
    .tabs-hits-flex{width: 60%;gap: 12px;flex-wrap: wrap;overflow: unset;}
    .tabs-hits-flex .nav-link{padding: 0 0 10px;}

}

@media (max-width:670px) {
    .header-first-content{flex-wrap: wrap;align-items: center;justify-content: space-between;}
    .head-info-txt{margin: 10px auto 0;width: 100%;text-align: center;}
    .head-icon-block{align-items: start;gap: 10px;flex-direction: column;}
    .head-nav-items{align-items: end;gap: 5px;flex-direction: column;}

}
@media (max-width:600px) {
    .cat-list-content{flex-wrap: nowrap;flex-direction: column;gap: 1.5em;padding: 20px;}
}
@media (max-width:575px) {
    .banner-block-content, .hits-content{padding: 12px;}
    .product-half-block{padding: 80px 8px 8px;height: 205px;}
    .ttl-banner-back{font-size: 32px;margin-bottom: 15px;}
    .section-first{padding: 10px 0;}
    .header-main-content{padding: 15px;}
    .fav-lc-basket-flex{gap: 10px;}
    .fav-lc-basket svg{width: 18px;height: 18px;}
    .input-search{padding: 10px 14px;}
    .filter-head{display: none;}


}

@media (max-width:470px) {
    .foot-prod-swip{align-items: unset;margin-top: 16px;flex-direction: column-reverse;gap: 7px;}
    .tabs-product-swip .nav-link{width: 22px;height: 22px;display: flex;}
    .product-half-block{padding: 65px 8px 8px;height: 195px;}
    .tabs-product-swip{bottom: 138px;}
    .swiper-tab-prod .swiper-slide{aspect-ratio: 166/221;}
    .catalog-banner-slider{height: auto;flex-direction: column-reverse;padding: 20px;}
    .swip-right-image{width: 100%;}
    .swip-left-content{width: 100%;}
    .swip-right-image .swiper-pagination{display: none!important;}
    .cat-list-content{padding: 16px;gap:25px 20px;}
    .cat-list-svg{width: 40px;height: 40px;}
    .cat-list-name{font-size: 16px;}
    .cat-list-ul{gap:2px;}
    .cat-list-ul a{font-size: 14px;}
    .catalog-dropdown{display: none;}
    .btn-bnr-flex{margin-top: 40px;}
    .tabs-hits-flex .nav-link{font-size: 14px;}
    .tab-all-product{font-size: 12px;padding: 12px;}
    .banner-img{border-radius: 18px;aspect-ratio: 1380/344;}
    .hits-tabs-block{padding: 15px;margin-bottom: 16px;flex-direction: column;gap: 12px;}
    .ttl-hits{font-size: 34px;margin-bottom: 14px;}
    .tabs-hits-flex{width: 100%;}
    .swip-right-image .swiper-slide img{transform: unset;}

}

@media (max-width:340px) {
    .header-first-content{display: none;}
}





/* .oem .modal_body {
    width: 100%;
    max-width: 1000px;
    max-height: 100%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.oem.modal.open .modal_body {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
} */
